.scroll {
  position: fixed;
  bottom: 2.2rem;
  border-top: 2rem;
  right: 3.2rem;
}

.scroll i {
  font-size: 22px;
  color: var(--color-text);
  background: var(--color-main);
  padding: 10px;
  border-radius: 2rem;
}
