@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --color-main: #ff9f0d;
  --color-text: #fff;
  --color-other: #212121;
  --color-second: #9e9e9e;
  --color-bg: #111111;

  --font-big: 4.5rem;
  --font-med: 2.6rem;
  --font-small: 1.1rem;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

section {
  padding: 70px 14% 60px;
}

header.sticky {
  padding: 12px 14%;
  background: var(--color-other);
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--color-other);
  color: var(--color-main);
  font-size: var(--font-small);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: all 0.5s ease;
}

.btn i {
  vertical-align: middle;
  margin-left: 9px;
  font-size: 22px;
}

.btn:hover {
  background: var(--color-main);
  color: var(--color-bg);
  box-shadow: #ff9f0d 0px 1px 25px;
}

.container {
  padding: 30px 14% 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  text-align: center;
}

.container-box {
  padding: 43px;
  background: var(--color-other);
  border-radius: 3rem;
}

.container-box img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.container-box h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 16px 0;
}

.container-box a {
  color: var(--color-second);
  font-size: var(--font-small);
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.container-box a:hover {
  color: var(--color-main);
}

@media (max-width: 1545px) {
  header.sticky {
    padding: 14px 4%;
  }

  section {
    padding: 50px 4% 40px;
    transition: 0.2s;
  }

  .container {
    padding: 30px 4% 50px;
  }
}

@media (max-width: 1180px) {
  :root {
    --font-big: 4rem;
    --font-med: 2.2rem;
    --font-small: 15px;
  }
}

@media (max-width: 1045px) {
  :root {
    --font-big: 3.3rem;
    --font-med: 2rem;
  }
}

@media (max-width: 475px) {
  :root {
    --font-big: 2.8rem;
  }

  .btn {
    padding: 15px 20px;
  }
}
